body {
  background-color: #e6f0ff;
  color: #000000 ;
  font-family: 'Segoe UI', sans-serif;
}

/* Style for navigation bar */

.custom-navbar {
  background-color: #3a3a3c; 
  width: 100%;
}

.nav-link-custom {
  color: #ffffff !important;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.nav-link-custom:hover {
  color: #ff4c4c !important; 
  text-decoration: underline;
}


/* Image Style for  Home page */

.media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.media-wrapper img,
.media-wrapper iframe {
  max-width: 700px;
  width: 100%;
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
